<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Travel Application</title>
    </head>
    <body>

        <header>
            <div class="pageTitle">
                <h1>Travel Application</h1>
            </div>
        </header>
        <main>
            <section id="formSubmission">
                <form>
                    <input id="tripName" type="text" placeholder="Enter Trip Name...">
                    <input id="countryName" type="text" placeholder="Enter City Name...">  
                    <input id="startDate" type="date">
                    <input id="endDate" type="date">
                    <input type="submit" id="retrieve" value="submit">
                </form>
                <div id="results"></div>
            </section>
        </main>
    <script>
        /*
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
        */
    </script>
    </body>
</html>
