$xsDeviceMax: 600px;
$sDeviceMax: 767px;
$mDeviceMax: 991px;
$lDeviceMax: 1200px;
$xlDeviceMin: 1200px;

html{
    background: url("../media/background-image.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    @media (max-width: $xsDeviceMax){
        font-size: 14px;
    }

    @media (min-width: $xsDeviceMax) and (max-width: $sDeviceMax) {
        font-size: 16px;
    }

    @media (min-width: $sDeviceMax) and (max-width: $mDeviceMax) {
        font-size: 18px;
    }

    @media (min-width: $mDeviceMax) and (max-width: $lDeviceMax) {
        font-size: 20px;
    }

    @media (min-width: $xlDeviceMin){
        font-size: 22px;
    }
}

#overallContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 90vw;
    grid-auto-rows: minmax(100px, auto);
}

h1{
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px;

    @media (max-width: $xsDeviceMax){
        border-radius: 10px;
        font-size: 20px;
    }

    @media (min-width: $xsDeviceMax) and (max-width: $sDeviceMax) {
        border-radius: 12px;
        font-size: 25px;
    }

    @media (min-width: $sDeviceMax) and (max-width: $mDeviceMax) {
        border-radius: 14px;
        font-size: 30px;
    }

    @media (min-width: $mDeviceMax) and (max-width: $lDeviceMax) {
        border-radius: 16px;
        font-size: 35px;
    }

    @media (min-width: $xlDeviceMin){
        border-radius: 18px;
        font-size: 40px;
    }
}

h3{
    margin: 0px;
    text-align: center;
    width: max-content;

    @media (max-width: $xsDeviceMax){
        padding: 5px;
        font-size: 22px;
    }

    @media (min-width: $xsDeviceMax) and (max-width: $sDeviceMax) {
        padding: 7px;
        font-size: 24px;
    }

    @media (min-width: $sDeviceMax) and (max-width: $mDeviceMax) {
        padding: 9px;
        font-size: 26px;
    }

    @media (min-width: $mDeviceMax) and (max-width: $lDeviceMax) {
        padding: 11px;
        font-size: 28px;
    }

    @media (min-width: $xlDeviceMin){
        padding: 13px;
        font-size: 30px;
    }
}

#formSubmission{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    margin: 0px;

    .fieldContainer{
        padding: 15px;
    }

    .formFields{
        text-align: center;
        width: 80%;
        margin: 0px;

        @media (max-width: $xsDeviceMax){
            font-size: 10px;
            height: 15px;
            padding: 5px;
        }

        @media (min-width: $xsDeviceMax) and (max-width: $sDeviceMax) {
            font-size: 15px;
            height: 20px;
            padding: 7px;
        }       
        
        @media (min-width: $sDeviceMax) and (max-width: $mDeviceMax) {
            font-size: 20px;
            height: 25px;
            padding: 9px;
        }

        @media (min-width: $mDeviceMax) and (max-width: $lDeviceMax) {
            font-size: 25px;
            height: 30px;
            padding: 11px;
        }
    
        @media (min-width: $xlDeviceMin){
            font-size: 30px;
            height: 35px;
            padding: 13px;
        }
    }
}

#inputFields{
    display: flex;
    justify-content: space-evenly;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

#dateFields{
    display: flex;
    justify-content: space-evenly;
}

.dateContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

#buttonFields{
    display: flex;
    justify-content: space-around;

    .fieldButtons{
        background-color: #73EBD3;
        color: black;
        border: 0px;

        &:hover {
            background-color: #5AB8A5;
        }

        @media (max-width: $xsDeviceMax){
            border-radius: 10px;
            width: 100px;
            height: 30px;
            padding: 10px;
            font-size: 10px;
        }

        @media (min-width: $xsDeviceMax) and (max-width: $sDeviceMax) {
            border-radius: 12px;
            width: 120px;
            height: 35px;
            padding: 12px;
            font-size: 12px;
        }

        @media (min-width: $sDeviceMax) and (max-width: $mDeviceMax) {
            border-radius: 14px;
            width: 140px;
            height: 40px;
            padding: 14px;
            font-size: 14px;
        }

        @media (min-width: $mDeviceMax) and (max-width: $lDeviceMax) {
            border-radius: 16px;
            width: 160px;
            height: 45px;
            padding: 16px;
            font-size: 16px;
        }
    
        @media (min-width: $xlDeviceMin){
            border-radius: 18px;
            width: 180px;
            height: 50px;
            padding: 18px;
            font-size: 18px;
        }
    }
}

.tripSection{
    background-color: rgba(255, 255, 255, 0.8);
    display: grid;
    grid-template-columns: 80vw;
    grid-template-rows: 150px 400px auto 80px;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";
    background-color: white;
    justify-content: center;
    align-items: center;

    @media (max-width: $xsDeviceMax){
        grid-template-columns: 80vw;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e"
        "f"
        "g";
        border-radius: 10px;
        margin-top: 50px;
    }

    @media (min-width: $xsDeviceMax) and (max-width: $sDeviceMax) {
        border-radius: 12px;
        margin-top: 55px;
    }

    @media (min-width: $sDeviceMax) and (max-width: $mDeviceMax) {
        border-radius: 14px;
        margin-top: 60px;
    }

    @media (min-width: $mDeviceMax) and (max-width: $lDeviceMax) {
        border-radius: 16px;
        margin-top: 65px;
    }

    @media (min-width: $xlDeviceMin){
        border-radius: 18px;
        margin-top: 70px;
    }

    .tripHeadingContainer{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        grid-area: a;

        @media (max-width: $xsDeviceMax){
            flex-direction: column;
        }

        .lTripHeadingContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 100%;

            @media (max-width: $xsDeviceMax){
                grid-area: a;
            }

            .destName{
                width: max-content;

            }
        }

        .rTripHeadingContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;

            @media (max-width: $xsDeviceMax){
                grid-area: b;
                flex-direction: row;
            }

            input{
                width: 95%;

                @media (max-width: $xsDeviceMax){
                    height: 22px;
                }

                @media (min-width: $xsDeviceMax) and (max-width: $sDeviceMax) {
                    height: 24px;
                }

                @media (min-width: $sDeviceMax) and (max-width: $mDeviceMax) {
                    height: 26px;
                }

                @media (min-width: $mDeviceMax) and (max-width: $lDeviceMax) {
                    height: 28px;
                }
            
                @media (min-width: $xlDeviceMin){
                    height: 30px;
                }
            }

            button{
                background-color: #73EBD3;
                color: black;
                border: 0px;
                padding: 5px;
                border-radius: 5px;
                margin-left: 10px;

                &:hover {
                    background-color: #5AB8A5;                
                }

                @media (max-width: $xsDeviceMax){
                    height: 20px;
                    font-size: 12px;
                    width: 120px;
                    margin-top: 10px;
                }

                @media (min-width: $xsDeviceMax) and (max-width: $sDeviceMax) {
                    height: 25px;
                    font-size: 14px;
                    width: 140px;
                }

                @media (min-width: $sDeviceMax) and (max-width: $mDeviceMax) {
                    height: 30px;
                    font-size: 16px;
                    width: 160px;
                }

                @media (min-width: $mDeviceMax) and (max-width: $lDeviceMax) {
                    height: 35px;
                    font-size: 18px;
                    width: 180px;
                }
            
                @media (min-width: $xlDeviceMin){
                    height: 40px;
                    font-size: 20px;
                    width: 200px;
                }
            }

            .hotelHeading{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 10px;

                @media (max-width: $xsDeviceMax){
                    flex-direction: column;
                }
            }

            .flightHeading{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 10px;

                @media (max-width: $xsDeviceMax){
                    flex-direction: column;
                }
            }
        }
    }

    .tripMiddleContainer{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: b;
        flex-direction: row;

        @media (max-width: $xsDeviceMax){
            flex-direction: column;
        }

        .lTripMiddleContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 15px;
            width: 50%;

            @media (max-width: $xsDeviceMax){
                grid-area: c;
                width: 100%;
            }

            .imgPlaceHolder{
                width: 100%;
                max-height: 100%;
                margin: 15px;
            }
        }

        .rTripMiddleContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 50%;
            height: 100%;

            .weatherIcon{
                @media (max-width: $xsDeviceMax){
                    width: 15%;
                }

                @media (min-width: $xsDeviceMax) and (max-width: $sDeviceMax) {
                    width: 20%;
                }

                @media (min-width: $sDeviceMax) and (max-width: $mDeviceMax) {
                    width: 25%;
                }

                @media (min-width: $mDeviceMax) and (max-width: $lDeviceMax) {
                    width: 30%;
                }
            
                @media (min-width: $xlDeviceMin){
                    width: 35%;
                }
            }

        }
    }

    .tripEndContainer{
        grid-area: c;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        

        @media (max-width: $xsDeviceMax){
            font-size: 10px;
        }

        @media (min-width: $xsDeviceMax) and (max-width: $sDeviceMax) {
            font-size: 15px;
        }

        @media (min-width: $sDeviceMax) and (max-width: $mDeviceMax) {
            font-size: 20px;
        }

        @media (min-width: $mDeviceMax) and (max-width: $lDeviceMax) {
            font-size: 25px;
        }
    
        @media (min-width: $xlDeviceMin){
            font-size: 30px;
        }

        .lTripEndContainer{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 50%;
            height: 100%;

            @media (max-width: $xsDeviceMax){
                grid-area: e;
            }

        }

        .rTripEndContainer{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 50%;
            height: 100%;

            @media (max-width: $xsDeviceMax){
                grid-area: f;
            }

        }
    }

    .tripRemoveContainer{
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $xsDeviceMax) and (max-width: $sDeviceMax) {
            grid-area: d;
        }

        .removeButtons{
            background-color: #73EBD3;
            color: black;
            grid-area: g;
            border: 0px;
            border-radius: 10px;
            margin: 10px;
            width: max-content;

            &:hover {
                background-color: #5AB8A5;
            }

            @media (max-width: $xsDeviceMax){
                height: 30px;
                padding: 10px;
                font-size: 10px;
            }

            @media (min-width: $xsDeviceMax) and (max-width: $sDeviceMax) {               
                height: 40px;
                padding: 12px;
                font-size: 15px;
            }

            @media (min-width: $sDeviceMax) and (max-width: $mDeviceMax) {
                height: 50px;
                padding: 14px;
                font-size: 20px;
            }

            @media (min-width: $mDeviceMax) and (max-width: $lDeviceMax) {
                height: 60px;
                padding: 16px;
                font-size: 25px;
            }
        
            @media (min-width: $xlDeviceMin){
                height: 70px;
                padding: 18px;
                font-size: 30px;
            }
        }
    }
}